# =====================
# GENERAL
# =====================
.vs/
.idea/
*.log

# =====================
# VISUAL STUDIO / .NET
# =====================
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# =====================
# ANDROID / XAMARIN
# =====================
**/bin/
**/obj/
*.apk
*.aab

# =====================
# FLUTTER (si aplica)
# =====================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# =====================
# SISTEMA
# =====================
Thumbs.db
.DS_Store

# =====================
# PHP / LARAVEL / FILAMENT
# =====================
/web/vendor/
/web/node_modules/
/web/.env
/web/storage/*.key
/web/storage/logs/*
/web/storage/framework/*
/web/storage/app/public/*

